body {
    display: grid;
    grid-template-columns:48em 12em;
    grid-template-rows: 6.5em 4em 131em 3.5em;
}

header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns:2fr 2fr;
    grid-template-rows: 3em 3em;
}

header h1 {
    grid-column-end: span 2;
}

header h2 {
    grid-column: 1;
}

header div {
    padding-right: 1em;
    display: flex;
    justify-content: end;
    grid-column: 2;
    text-align: right;
    align-self: end;
    gap: 3em;
}
nav {
    width: 48em;
    border-bottom: 1em solid #edeff0;;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li {
    width: 10em;
}

aside {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 6;
}

nav {
    grid-column-start: 1;
    grid-row-start: 2;
}

#news {
    grid-column-start: 1;
    grid-row-start: 3;
}

#news footer {
    grid-template-columns: 43em 12em 4em 7em;
    grid-template-rows: 2em;
}

footer {
    grid-row-start: 5;
    display: grid;
    align-items: center;
}

footer span:nth-child(2) {
    text-align: right;
}

