@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200');

html {
    margin: 0;
    padding: 0;
    background-color: green;
}

body {
    font-family: 'Poppins', serif;
    margin: auto;
    padding: 0.5em;
    width: 840px;
    background-color: white;
}

a {
    color: white;
    text-decoration: none;
}

ul a:hover {
    color: #2A2F33;
}

header {
    padding: 0.8em;
    padding-left: 1em;
    background-color: #056dd5;
}

h1 {
    margin: 0;
    font-weight: 900;
    font-size: 1.8rem;
}

h2 {
    margin: 0;
    font-weight: 400;
}

