@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200');

html {
    margin: 0;
    padding: 0;
    background-color: #edeff0;;
}

body {
    font-family: 'Poppins', serif;
    margin: auto;
    max-width: 60em;
    background-color: white;
}

a {
    color: white;
    text-decoration: none;
}

ul a:hover {
    color: #2A2F33;
}

header {
    height: 5em;
    padding: 0.8em;
    padding-left: 1em;
    background-color: #056dd5;
}

h1 {
    margin: 0;
    font-weight: 900;
    font-size: 1.8rem;
}

h2 {
    margin-top: -0.5em;
    font-weight: 400;
    font-size: 1.5rem;
}

header div {
    margin-bottom: 1em;
}

nav > input {
    display: none;
}

nav > ul {
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
}

nav > ul > li {
    padding: 0.8em;
    list-style-type: none;
}

nav > ul > li:first-child{
    border-top: 5px solid #E1493E;
}

nav > ul > li:nth-child(2){
    border-top: 5px solid#8ABA56;
}

nav > ul > li:nth-child(3){
    border-top: 5px solid #5B4282;
}

nav > ul > li:nth-child(4){
    border-top: 5px solid #FF8932;
}

nav > ul > li:nth-child(5){
    border-top: 5px solid #19B6E9 ;
}

nav > ul > li:nth-child(6){
    border-top: 5px solid #E84C8B ;
}

nav > ul > li > a{
    color: black;
}

aside {
    background-color: #2A2F33;
    padding: 1em;
}

article > h1 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 1em;
}

article > p {
    font-family: 'Lora', sans-serif;
    font-size: 1rem;
    color: white;
    line-height: 1.6em;
}

article > header {
    background-color: transparent;
    position: relative;
    margin: 1em;
    padding: 0;
    color: black;
}

img {
    width: 100%;
}

article > header > h1 {
    font-size:  1.7rem;
    position: absolute;
    width: 9em;
    margin: 0.5em;
    text-shadow: 4px 6px 4px black;
}

#news header {
    all: revert;
}

#news p {
    color:black;
    margin: 1em;
    font-weight: 400;
}

#news p:first-of-type:first-letter {
    font-size: 1.5rem;
}

#news footer {
    background-color: #f4655f;
    padding: 0.5em;
    color:white;
    font-size: 0.72rem;
    letter-spacing: 0px;
}

#news footer .date {
    margin: 1.2em;
}

#news footer > span > a {
    text-decoration: underline;
}

#news footer > a {
    text-decoration: underline;
}

footer {
    height: 2.5em;
    background-color: #2a2f33;
    color: white;
    margin: 0;
    align-content: center;
}

footer > p {
    margin: 0;
    padding: 1em;
}